In [15]:
unknown_data = {
     'Temperature' : [36,49,54],
     'RH' : [21,57,87],
     'Ws' : [18,13,16],
     'Rain' : [1.7,2.3,5.4],
     'FFMC' : [37.5,38,39.5],
     'DMC' : [22.0,22.5,13.0],
     'DC' : [2.0,37.5,13.0],
     'ISI' : [1.0,0.5,0.7],
     'BUI' : [3.1,3.5,1.5],
     'Classes':[1,0,0],
     'Region' : [0,0,1]

}

In [16]:
import pandas as pd

In [17]:
new_df = pd.DataFrame(unknown_data)

In [18]:
new_df

   Temperature  RH  Ws  Rain  FFMC   DMC    DC  ISI  BUI  Classes  Region
0           36  21  18   1.7  37.5  22.0   2.0  1.0  3.1        1       0
1           49  57  13   2.3  38.0  22.5  37.5  0.5  3.5        0       0
2           54  87  16   5.4  39.5  13.0  13.0  0.7  1.5        0       1

In [19]:
import pickle
scale_new_data = pickle.load(open('scaler.pkl', 'rb'))

In [20]:
lr_new_data = pickle.load(open('lr1.pkl', 'rb'))

In [21]:
new_df_sc = scale_new_data.transform(new_df)

In [22]:
new_df_sc

array([[ 1.04538298, -2.72231643,  0.90552731,  0.4360901 , -2.88246168,
         0.52048872, -0.98778873, -0.9121807 , -0.94738909,  0.8738629 ,
        -1.01036297],
       [ 4.61298226, -0.32051527, -0.99568804,  0.72417686, -2.84696203,
         0.55878898, -0.27501765, -1.02787308, -0.92079956, -1.14434427,
        -1.01036297],
       [ 5.98513583,  1.68098569,  0.14504117,  2.21262512, -2.74046308,
        -0.168916  , -0.76693009, -0.98159613, -1.05374721, -1.14434427,
         0.98974332]])

In [23]:
y_pred_new_data = lr_new_data.predict(new_df_sc)

In [24]:
y_pred_new_data

array([3.93553306, 2.11855022, 0.34211948])